div#query {
    text-align: center;
}

div#search_results ul {
    list-style: none;
}

div#search_results ul li {
    display: block;
    /* margin: 20px; */
    border-width: 1px;
    border-color: black;
}

div#result {
    padding: 10px;
    margin: 10px;
    border-style: none;
}
