input {
    border: 1px solid #868686;
}

div#wrapper {
    margin: 10px;
    padding: 10px;
}

div#query {
    text-align: center;
}

div#summary {
    font-size: 75%;
    text-align: center;
}

div#page_links {
    padding: 10px 0 20px 0;
    text-align: center;
}

span#page_link  {
    padding: 5px;
}


div#search_results ul {
    list-style: none;
}

div#search_results ul li {
    display: block;
    border-width: 1px;
    border-color: black;
}

div#result {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    border-style: none;
}
